::ng-deep .ng-select .ng-select-container {
  height: 40px;
  border: 0px;
  position: relative;
  text-align: center;
}

// ::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items {
//   float: left;
// }

::ng-deep .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-placeholder {
  padding-top: 4px;
}

.card-header {
  background-color: #ffffff;
  border-bottom: 0px;
  padding-left: 0px;
}

.detay {
  border-bottom: 1px solid rgb(235, 235, 235);
}

::ng-deep .custom-search-input-2.inner input {
  padding-left: 0px;
}

.strip .wrapper small {
  font-size: 0.7666rem;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 32px;
  height: 32px;
  margin-right: 10px;
}

.lds-ellipsis div {
  position: absolute;
  top: 14px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #c2c2c2;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: -9px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: -10px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 2px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 24px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}

.mapContainer {
  text-align: center;
}

.pointer {
  cursor: pointer;
}
